<div id="threeCanvas"></div>
<div id="info"><a href="http://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - buffergeometry</div>

<script type="text/javascript" src="/js/threejs/three.min.js"></script>
<script src="/js/cytoscape/cytoscape.min.js"></script>

<script src="/js/threejs/js/controls/TrackballControls.js"></script>
<script src="/js/threejs/js/controls/OrbitControls.js"></script>
<script src="/js/threejs/js/Detector.js"></script>
<script src="/js/threejs/js/TypedArrayUtils.js"></script>
<script src="/js/threejs/js/libs/stats.min.js"></script>
<script src='/js/threejs/js/libs/dat.GUI.min.js'></script>


<script type="text/javascript" src="/js/game.js"></script>